# ==========================================
# СЕКРЕТЫ И КЛЮЧИ
# ==========================================
key*.json
*.pem
*.key
*.secret
*.env

sa-key.json
crash.log

# ==========================================
#  TERRAFORM
# ==========================================
**/.terraform/
*.tfstate
*.tfstate.backup
*.tfvars.lock

*.secret.tfvars       
*.auto.tfvars

override.tf
override.tf.json
*_override.tf
*_override.tf.json
.plan

# ==========================================
#  IDE & OS
# ==========================================
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
Thumbs.db