# Секреты и ключи
key*.json
*.pem
*.key
*.secret
*.env
inventory/*
!inventory/example.yml

# Terraform
**/.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
!terraform.tfvars.example
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ansible
.ansible/
*.retry

# IDE и OS
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db