---
dependency:
  name: galaxy

driver:
  name: docker

platforms:
  - name: instance-ol9
    image: oraclelinux:9
    privileged: true
  - name: instance-ubuntu
    image: ubuntu:latest
    privileged: true

provisioner:
  name: ansible
  inventory:
    host_vars:
      instance-ol9:
        ansible_user: root
        ansible_python_interpreter: /usr/bin/python3
      instance-ubuntu:
        ansible_user: root
        ansible_python_interpreter: /usr/bin/python3
  env:
    ANSIBLE_ROLES_PATH: "${MOLECULE_PROJECT_DIRECTORY}/.."
    ANSIBLE_FORCE_COLOR: "1"
    ANSIBLE_STDOUT_CALLBACK: default
    ANSIBLE_CALLBACK_RESULT_FORMAT: yaml

verifier:
  name: ansible

scenario:
  name: default
  test_sequence:
    - destroy
    - create
    - prepare
    - converge
    - idempotence
    - verify
    - destroy