---
- name: Prepare
  hosts: all
  gather_facts: false
  tasks:
    - name: Install python3 on Ubuntu
      raw: apt-get update && apt-get install -y python3
      when: inventory_hostname == "instance-ubuntu"

    - name: Install python3 and dnf on Oracle Linux 9
      raw: dnf install -y python3 python3-dnf
      when: inventory_hostname == "instance-ol9"